<!DOCTYPE html>
<html ng-app="ngModelExample">

<head>
	<title>Clock App</title>
	<script src= script/angular.min.js></script>
	<script src= script/customfiles/007.js></script>
</head>

<body>
<h1>ng model Example</h1>

<div ng-controller="ngModelController">

<p>Name: <input type="text" ng-model="someText"></p>
<p>Boolean Value: <input type="checkbox" ng-model="booleanVal"></p>
<p>Date: <input type="date" ng-model="dateVal"></p>
<p>Radio: 
	<input type="radio" ng-model="radioVal" value="Mango">Mango</input>
	<input type="radio" ng-model="radioVal" value="Orange">Orange</input>
	<input type="radio" ng-model="radioVal" value="Banana">Banana</input>
</p>



	Name: {{someText}} <br />
	Boolean Value: {{booleanVal}}<br />
	Date: {{dateVal}}<br />
	Fruit: {{radioVal}}

</div>

</body>

</html>